<h1>
  Workout Templates
</h1>
<br />
<div class="row">
  <div class="col-md-2">
    <button class="btn btn-success btn-block" (click)="newWorkoutTemplate()">New Template</button>
  </div>
  <div class="col-md-1">
    Name:
  </div>
  <div class="col-md-3">
    <input type="text" class="form-control" [(ngModel)]="newWorkoutTemplateName">
  </div>
</div>
<br />
<div class="list-group list-group-flush">
  <div class="list-group-item" *ngFor="let template of workoutTemplates">
    <div class="row">
      <div class="col-md">
        <h4 class="align-middle">{{template.templateName}}</h4>
      </div>
      <div class="col-md-1 col-xs-12">
        <button class="btn btn-danger btn-block" (click)="removeWorkoutTemplate(template)">Delete</button>
      </div>
      <div class="col-md-1 col-xs-12">
        <button class="btn btn-primary btn-block" (click)="openWorkoutTemplateEditor(template)">Edit</button>
      </div>
    </div>
  </div>
</div>
