<h1>{{title}}</h1>

<button class="btn btn-success" (click)="newExercise()">Add Exercise</button>

<div class="list-group">
  <div class="list-group-item" *ngFor="let exercise of exercises">
    <div class="row">
      <div class="col-md-1">
        Exercise Name:
      </div>
      <div class="col-md">
        <input class="form-control" type="text" [(ngModel)]="exercise.name"  (change)="updateExercise(exercise)">
      </div>
      <div class="col-md-1">
        <button class="btn btn-danger" (click)="removeExercise(exercise)">Delete</button>
      </div>
    </div>
  </div>
</div>
